
.contact-photo {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 55vh;
    /* background-image: url("https://i.pinimg.com/originals/92/4a/de/924ade35d50a5fa11e012364b0da20de.jpg"); */
    background-image: url('../images/contact-page.jpeg');
    background-size: cover;
    background-position: center center;
}
.text-cont {
    /* display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden; */
    padding-bottom: 50px;
}

.supertext {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-family: Geneva, Tahoma, sans-serif;
}
    .subtext {
        position: relative;
        color: white;
        font-size: 16px;
        text-align: center;
        margin-top: -10px;
        font-family: Geneva, Tahoma, sans-serif;
    }